<ng-container *ngIf="
    !(isRecoveringForgotPassword$ | async);
    then formenteremail;
    else messageSendLink
  "></ng-container>
<ng-template #formenteremail>
  <div class="pt-5">
    <h2 class="font-bold text-4xl">Bạn đã quên mật khẩu của mình?</h2>
    <p class="text-sm text-gray-700 italic my-2">
      Hãy nhập địa chỉ email liên kết tới tài khoản của bạn
    </p>
  </div>
  <form nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()" class="forgotpsw-form">
    <nz-form-item>
      <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="email" class="text-start">Email</nz-form-label>
      <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Email được nhập không hợp lệ!">
        <nz-input-group nzPrefixIcon="mail">
          <input nz-input formControlName="email" id="email" placeholder="exmaple@gmail.com" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin w-full" [nzType]="'primary'">
      Tiếp
    </button>
  </form>
</ng-template>

<ng-template #messageSendLink>
  <div class="pt-5">
    <h2 class="font-normal text-4xl leading-normal py-3">
      Xác thực mã được gửi qua <b><mark>Email</mark></b>
    </h2>
    <p class="text-sm text-[#00B141] italic p-3 bg-[#E6F7EC] border=2 border-[##8ADBA8]">
      Làm ơn hãy kiểm tra <strong>Email </strong>của bạn hệ thống đã gửi đường
      dẫn tạo mật khẩu mới
      <ng-container *ngIf="timeClock$ | async as timeClock">
        <i class="py-2 text-gray-500 font-semibold">lưu ý: thời hạn là
          ({{timeClock.minutes}}:{{timeClock.seconds}})phút</i>
      </ng-container>

    </p>
  </div>
</ng-template>