<div class="py-5">
  <app-card-overview />
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="">
      <!-- <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let component of components" class="slide">
          <ng-container *ngComponentOutlet="component"></ng-container>
        </div>
      </ngx-slick-carousel> -->
      <app-revenue-statistic />
    </div>
    <div>
      <app-sub-category-statistic />
    </div>
    <!-- <div class="col-span-1">
      <app-notifcation-latest />
    </div> -->
  </div>
  <div class="grid grid-cols-3 gap-3">
    <!-- <div class="col-span-1">
      <app-order-latest />
    </div> -->
    <div class="col-span-3">
      <app-order-statistic />
    </div>
  </div>
</div>
