<div class="">
  <div class="pb-3">
    <img
      nz-image
      class="w-full object-cover max-h-[500px] cursor-pointer min-h-[500px] shadow-sm border border-solid border-[#ededed]"
      nzSrc="{{ selectedImage }}"
      alt=""
    />
  </div>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)"
  >
    <div
      ngxSlickItem
      *ngFor="let slide of images; let i = index"
      class="mx-1 cursor-pointer shadow-lg"
      (click)="onSelectImage(slide)"
    >
      <img
        [src]="slide"
        alt=""
        class="h-[100px] w-full object-cover hover:border-2 hover:border-solid hover:border-[#1890FF]"
      />
    </div>
  </ngx-slick-carousel>
</div>
