<section
  class="h-full flex flex-col items-center justify-center bg-gradient-to-br from-blue-500 to-white"
>
  <div class="bg-white p-10 min-w-[700px] rounded-xl shadow-lg my-8">
    <div class="mb-6">
      <p class="text-gray-600 text-lg font-semibold text-center uppercase py-3">
        Hoàn thành các bước sau để trở thành người cho thuê
      </p>

      <nz-steps [nzCurrent]="current" nzDirection="horizontal" nzProgressDot>
        <nz-step
          nzTitle="Thông tin chủ cho thuê"
          nzDescription="Thông tin chủ cho thuê là cần thiết trong hệ thống"
        ></nz-step>
        <nz-step
          nzTitle="Chụp ảnh thẻ căn cước 2 mặt"
          nzDescription="Cần xác nhận mã định danh người dùng giúp cho tính bảo mật của hệ thống"
        ></nz-step>
        <nz-step
          nzTitle="Thông tin cho thuê"
          nzDescription="Việc thu thập thông tin thuế là bắt buộc theo quy định của luật an ninh mạng,
            thương mại điện tử và thuế Việt Nam"
        ></nz-step>
      </nz-steps>
    </div>
    <div class="steps-content">
      <ng-container *ngTemplateOutlet="stepProcess"></ng-container>
    </div>
  </div>
</section>

<ng-template #stepProcess>
  <ng-container *ngIf="current === 0">
    <app-step-info (nextStep)="next()" />
  </ng-container>

  <ng-container *ngIf="current === 1">
    <app-step-identify (nextStep)="next()" (prevStep)="pre()" />
  </ng-container>

  <ng-container *ngIf="current === 2">
    <app-step-tax (nextStep)="done()" (prevStep)="pre()" />
  </ng-container>
</ng-template>
