<div class="border-2 border-[#ededed] rounded-lg shadow-lg p-4">
  <div class="flex items-center justify-start gap-x-3">
    <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
    <div class="self-stretch flex-1">
      <p>{{feedBackDetail.userName}}</p>
      <div class="flex items-center justify-between">
        <div>
          <nz-rate [ngModel]="feedBackDetail.rating" nzDisabled></nz-rate>
        </div>
        <p>30/10/2024</p>
      </div>
    </div>
  </div>
  <p class="font-thin text-[14px] capitalize py-3">{{feedBackDetail.comment}}</p>
</div>
