<label for="business_license_file">
  <p class="py-2 px-3 text-white bg-[#1890FF] inline-block cursor-pointer">
    {{ title }}
    <span nz-icon nzType="upload" nzTheme="outline"></span>
  </p>
  <input
    #fileInput
    type="file"
    name=""
    accept="{{ boundTypeFile }}"
    id="business_license_file"
    class="hidden"
    (change)="onFileSelected($event)"
    multiple
  />
</label>
<ul class="file-list">
  <li
    *ngFor="let file of uploadedFiles; let i = index"
    class="text-sm text-[#1890FF] py-3 flex items-center justify-between"
  >
    <span>
      <span nz-icon nzType="paper-clip" nzTheme="outline"></span> &nbsp;
      <span>{{ file.name }}</span>
    </span>
    <span
      nz-icon
      nzType="delete"
      nzTheme="outline"
      class="cursor-pointer"
      (click)="removeFile(i)"
    ></span>
  </li>
</ul>
