<nz-header class="flex justify-between items-center leading-6 bg-white">
  <img
    class="logo w-[130px] h-[55px]"
    src="assets/images/logo.png"
    [routerLink]="['/common/home']"
    alt="main-logo"
  />
  <div>
    <nz-input-group class="w-96 rounded-full" [nzSuffix]="suffixIconSearch">
      <input
        class="p-1"
        type="text"
        nz-input
        placeholder="Bạn cần thuê sản phẩm gì?"
        [(ngModel)]="searchText"
        (keyup.enter)="onSearch()"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span
        (click)="onSearch()"
        class="pe-1.5 text-lg"
        nz-icon
        nzType="search"
      ></span>
    </ng-template>
  </div>
  <ng-container *ngIf="!user">
    <div>
      <button
        nz-button
        nzType="primary"
        (click)="onRedirect('/auth/login')"
        nzGhost
        class="m-2"
      >
        Đăng Nhập
      </button>
      <button
        nz-button
        nzType="primary"
        nzGhost
        class="m-2"
        (click)="onRedirect('/auth/register')"
      >
        Đăng Ký
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="user">
    <div class="flex justify-between" nz-dropdown [nzDropdownMenu]="menu">
      <nz-avatar
        class="mt-1"
        [nzSrc]="
          avatarPersonal ? avatarPersonal : 'assets/images/default-avatar.jpg'
        "
        nzSize="default"
        class="align-middle ml-10"
      ></nz-avatar>
      <p class="text-gray-400 mx-3 pt-1">{{ userName }}</p>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li
          nz-menu-item
          class="p-3 uppercase text-center menu-item"
          [routerLink]="['/common/user/account/profile']"
        >
          Thông tin cá nhân
        </li>
        <li
          nz-menu-item
          class="p-3 uppercase text-center menu-item"
          *ngIf="userRole === USERROLE.RENTER"
          [routerLink]="['/common/user/order']"
        >
          Danh sách thuê của tôi
        </li>
        <li
          nz-menu-item
          class="p-3 uppercase text-center menu-item"
          *ngIf="userRole === USERROLE.RENTER && !hasLessorRole()"
          (click)="onShow()"
        >
          Đăng ký thành chủ thuê
        </li>
        <li
          nz-menu-item
          class="p-3 uppercase text-center menu-item"
          *ngIf="hasLessorRole()"
          [routerLink]="['/lessor/shop', rentalShopId]"
        >
          Cửa Hàng Của Tôi
        </li>
        <li
          nz-menu-item
          class="p-3 uppercase text-center menu-item"
          *ngIf="userRole === USERROLE.ADMIN"
          [routerLink]="['/admin/manage-users']"
        >
          Thanh Tiến Trình
        </li>
        <li
          nz-menu-item
          class="p-3 uppercase text-center menu-item"
          (click)="logout()"
        >
          Đăng xuất
        </li>
      </ul>
    </nz-dropdown-menu>
  </ng-container>
</nz-header>
<app-nav-menu></app-nav-menu>
