<div #contentWrapper>
  <ng-container *ngFor="let item of visibleItems; let i = index">
    <ng-container
      *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"
    ></ng-container>
  </ng-container>
</div>

<!-- Toggle button to show more or less -->
<p
  *ngIf="shouldShowToggleButton()"
  class="icon_text py-3 text-sm font-semibold cursor-pointer"
  nz-button
  (click)="toggleShowMore()"
  nzType="link"
>
  <span nz-icon [nzType]="showMore ? 'down' : 'up'" nzTheme="outline"></span>
  {{ showMore ? "Xem Thêm" : "Thu Gọn" }}
</p>
