<nz-radio-group
  class="w-full"
  ngModel
  nzName="radioMethodPay"
  (ngModelChange)="onValueChange($event)"
  nzSize="large"
>
  <label
    *ngFor="let option of options"
    nz-radio
    [nzValue]="option.value"
    class="radio-option flex gap-x-4 items-start p-4 border rounded-md mb-2 cursor-pointer"
    [ngClass]="{
      'bg-blue-50': selectedValue === option.value,
      'border-gray-300': selectedValue !== option.value
    }"
  >
    <div class="flex gap-x-4 items-center">
      <span nz-icon [nzType]="option.icon" nzTheme="outline"></span>
      <span class="font-medium">{{ option.label }}</span>
    </div>
  </label>
</nz-radio-group>
<div class="mt-3" *ngIf="selectedValue">
  <app-upload-list
    title="Tải Giáy tờ thế chấp"
    boundTypeFile="image/*"
    (listFiles)="onSelectedFile($event)"
    (removeAFile)="onRemoveAFile($event)"
  />

  <ul class=" py-3 flex items-center justify-start gap-x-2">
    <li
      *ngFor="let file of uploadedFiles; let i = index"
      class=""
    >
      <div class="border border-solid border-[#ededed] rounded-md p-3 shadow-md cursor-pointer">
        <img *ngIf="filePreviews[i]" [nzSrc]="filePreviews[i]" alt="Preview" class="preview-image w-[100px] h-[100px] object-contain" nz-image/>
      </div>
    </li>
  </ul>

</div>
