<ng-container *ngIf="orderError; else ordersContent">
  <div class="flex justify-center">
    <nz-result
      nzStatus="500"
      nzTitle="500"
      nzSubTitle="Xin lỗi, có lỗi trên máy chủ."
    ></nz-result>
  </div>
</ng-container>

<ng-template #ordersContent>
  <div class="mx-16 mt-3">
    <h1 class="text-2xl">DANH SÁCH THUÊ CỦA TÔI</h1>
    <nz-tabset
      class="mt-2"
      [(nzSelectedIndex)]="selectedTab"
      (nzSelectedIndexChange)="onTabChange($event)"
    >
      <ng-container *ngFor="let tab of orderTabs">
        <nz-tab [nzTitle]="tab.title">
          <div class="mt-6 flex justify-between">
            <div>
              <nz-input-group
                nzSearch
                [nzPrefix]="suffixIconButton"
                class="grow"
              >
                <input
                  class="w-input"
                  type="text"
                  nz-input
                  [placeholder]="tab.placeholder"
                  [(ngModel)]="tab.searchText"
                  (keydown.enter)="onSearch(tab.status)"
                  (keyup)="reset(tab.status)"
                />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button
                  class="border-none"
                  nz-button
                  nzType="default"
                  nzSearch
                  (click)="onSearch(tab.status)"
                >
                  <span nz-icon nzType="search"></span>
                </button>
              </ng-template>
            </div>
            <nz-select [(ngModel)]="selectedFilter" style="width: 200px">
              <nz-option [nzValue]="7" nzLabel="7 ngày gần đây"></nz-option>
              <nz-option [nzValue]="30" nzLabel="30 ngày gần đây"></nz-option>
            </nz-select>
          </div>

          <div *ngIf="!tab.ordersNull; else noData">
            <div *ngFor="let order of tab.orders">
              <app-shop-card
                [order]="order"
                [isShowBtn1]="tab.isShowBtn1"
                [isShowBtn2]="tab.isShowBtn2"
                [isShowBtn3]="tab.isShowBtn3"
                [isShowBtn4]="tab.isShowBtn4"
                (showFeedBack)="showFeedBack($event)"
                (cancelOrder)="showCancelForm($event)"
                (receiveOrder)="showConfirmReceiveForm($event)"
                (returnOrder)="showConfirmReturnForm($event)"
              ></app-shop-card>
            </div>
          </div>

          <ng-template #noData>
            <div class="flex justify-center">
              <nz-result
                nzTitle="Chưa có đơn hàng"
                nzSubTitle="Bạn chưa có đơn hàng nào. Hãy bắt đầu mua sắm ngay!"
              >
              </nz-result>
            </div>
          </ng-template>
        </nz-tab>
      </ng-container>
    </nz-tabset>
  </div>

  <app-form-feedback
    [isVisible]="isVisible"
    [order]="orderInformation"
    (closeModal)="handleCloseModal()"
    (saveFeedBack)="createFeedBack($event)"
  ></app-form-feedback>
  <app-form-cancel-order
    [isVisible]="isVisibleCancel"
    [title]="'XÁC NHẬN HỦY ĐƠN HÀNG'"
    (closeModal)="handleCloseCancelForm()"
    (saveForm)="changeStatus($event)"
  ></app-form-cancel-order>
  <app-form-confirm
    [isVisible]="isVisibleReceive"
    [title]="'XÁC NHẬN NHẬN HÀNG'"
    [placeholder]="'Đánh Giá Vận Chuyển'"
    (closeModal)="handleCloseReceiveForm()"
    (saveForm)="changeStatusReceive($event)"
  >
  </app-form-confirm>
  <app-form-confirm
    [isVisible]="isVisibleReturn"
    [title]="'XÁC NHẬN TRẢ HÀNG'"
    [placeholder]="'Gửi lời nhắn cho chủ cho thuê'"
    (closeModal)="handleCloseReturnForm()"
    (saveForm)="changeStatusReturn($event)"
  >
  </app-form-confirm>
</ng-template>
