<nz-layout>
  <nz-header class="flex justify-between bg-white items-center">
    <div class="flex justify-between items-center">
      <img
        class="logo m-1 ms-0"
        src="assets/images/logo.png"
        alt="main-logo"
        [routerLink]="['/common/home']"
      />
      <span
        class="trigger mt-5"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="handleToggleSidebar()"
      ></span>
    </div>
    <div class="flex justify-between">
      <div class="mt-1 cursor-pointer">
        <!-- <nz-badge
          [nzCount]="0"
          (click)="openNotifcationAvailable()"
        > -->
        <!-- <span class="text-lg text-[#0f6cf8]" nz-icon nzType="bell" nzTheme="outline"></span> -->
        <!-- <span nz-icon nzType="bell" class="text-lg text-[#0f6cf8]" nzTheme="fill"></span> -->
        <!-- </nz-badge> -->
        <app-notification-popup />
      </div>
      <div nz-dropdown [nzDropdownMenu]="menu">
        <div class="flex justify-between">
          <nz-avatar
            class="mt-4"
            [nzSrc]="
              avatarPersonal
                ? avatarPersonal
                : 'assets/images/default-avatar.jpg'
            "
            nzSize="default"
            style="vertical-align: middle; margin-left: 40px"
          ></nz-avatar>
          <p class="text-gray-400 mx-3">{{ userName }}</p>
        </div>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li
            nz-menu-item
            class="p-3 uppercase text-center menu-item"
            [routerLink]="['/common/user/account/profile']"
          >
            Thông tin cá nhân
          </li>
          <!-- <li
            nz-menu-item
            class="p-3 uppercase text-center menu-item"
            *ngIf="userRole === USERROLE.RENTER && !hasLessorRole()"
            [routerLink]="['/common/user/order']"
          >
            Danh sách thuê của tôi
          </li> -->

          <li
            nz-menu-item
            class="p-3 uppercase text-center menu-item"
            *ngIf="hasLessorRole()"
            [routerLink]="['/lessor/shop', rentalShopId]"
          >
            Cửa Hàng Của Tôi
          </li>
          <li
            nz-menu-item
            class="p-3 uppercase text-center menu-item"
            *ngIf="userRole === USERROLE.ADMIN"
            [routerLink]="['/admin/manage-users']"
          >
            Thanh Tiến Trình
          </li>
          <li
            nz-menu-item
            class="p-3 uppercase text-center menu-item"
            (click)="logout()"
          >
            Đăng xuất
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
</nz-layout>
