<div class="bg-light">
  <div class="row flex-nowrap">
    <div class="col py-3 m-3">
      <div class="card">
        <h1 class="text-3xl">Danh sách người dùng</h1>
        <div class="flex justify-between mt-5">
          <div class="search-bar w-25 ms-0">
            <form class="search-form d-flex align-items-center">
              <input
                class="form-control w-96"
                type="text"
                name="query"
                placeholder="Tìm kiếm người dùng..."
                title="Enter search keyword"
                [(ngModel)]="searchText"
                (keyup.enter)="onSearch()"
              />
              <button type="submit" title="Search">
                <span
                  class="text-xl"
                  nz-icon
                  nzType="search"
                  nzTheme="outline"
                ></span>
              </button>
            </form>
          </div>
          <button
            class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
          >
            <span
              class="text-2xl"
              nz-icon
              nzType="user-add"
              nzTheme="outline"
              (click)="showInviteUser()"
            ></span>
          </button>
        </div>
        <app-form-user
          [isVisible]="isVisible"
          [title]="title"
          [user]="userInformation"
          (closeModal)="handleCloseModal()"
          (saveUser)="handleCreateUser($event)"
          [alertType]="alertType"
          [alertMessage]="alertMessage"
          [showAlert]="showAlert"
        ></app-form-user>
        <nz-table
          #basicTable
          [nzScroll]="{ x: '1300px' }"
          [nzData]="userList"
          [nzFrontPagination]="false"
          [nzPageSize]="pageSize"
          [nzTotal]="totalUsers"
          [(nzPageIndex)]="currentPage"
          (nzPageIndexChange)="onPageChange($event)"
          [nzLoading]="isloading"
          class="mt-2"
        >
          <thead>
            <tr>
              <th class="m-1 text-secondary text-uppercase" nzLeft>
                <span class="name">No.</span>
              </th>
              <th
                class="m-1 text-secondary text-uppercase"
                nzCustomFilter
                nzLeft
                nzWidth="14%"
              >
                <div class="flex justify-between">
                  <span class="name text-uppercase">Họ Tên</span>
                  <nz-filter-trigger
                    [(nzVisible)]="visibleName"
                    [nzActive]="searchFullName.length > 0"
                    [nzDropdownMenu]="searchName"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </div>
              </th>
              <th class="m-1 text-secondary text-uppercase" nzCustomFilter>
                <div class="flex justify-between">
                  <span class="name text-uppercase">Email</span>
                  <nz-filter-trigger
                    [(nzVisible)]="visibleEmail"
                    [nzActive]="searchEmail.length > 0"
                    [nzDropdownMenu]="searchMail"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </div>
              </th>
              <th class="m-1 text-secondary text-uppercase" nzCustomFilter>
                <div class="flex justify-between">
                  <span class="name">Địa Chỉ</span>
                  <nz-filter-trigger
                    [(nzVisible)]="visibleAddress"
                    [nzActive]="searchAddress.length > 0"
                    [nzDropdownMenu]="searchAddr"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </div>
              </th>
              <th class="m-1 text-secondary text-uppercase" nzCustomFilter>
                <div class="flex justify-between">
                  <span class="name">Số Điện Thoại</span>
                  <nz-filter-trigger
                    [(nzVisible)]="visiblePhoneNumber"
                    [nzActive]="searchPhoneNumber.length > 0"
                    [nzDropdownMenu]="searchPhone"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </div>
              </th>
              <th
                class="m-1 text-secondary text-uppercase"
                [nzFilters]="filterGender"
                [nzFilterFn]="true"
                (nzFilterChange)="onFilterChange($event)"
              >
                <span class="name">Giới Tính</span>
              </th>
              <th class="m-1 text-secondary text-uppercase" nzCustomFilter>
                <div class="flex justify-between">
                  <span class="name">Ngày Sinh</span>
                  <nz-filter-trigger
                    [(nzVisible)]="visibleDateOfBirth"
                    [nzActive]="searchDateOfBirth.length > 0"
                    [nzDropdownMenu]="searchDOB"
                  >
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </div>
              </th>
              <th class="text-secondary text-uppercase">
                <span class="name">Vai Trò</span>
              </th>
              <th class="text-secondary text-uppercase">
                <span class="name">Trạng Thái</span>
              </th>
              <th class="m-1 text-secondary text-uppercase" nzRight>
                <span class="name">Cấm</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userList; let i = index" class="tr-product">
              <td nzLeft>
                <span class="name text-secondary p-3 text-center">
                  {{ i + 1 + (currentPage - 1) * pageSize | number : "2.0" }}
                </span>
              </td>
              <td nzLeft>
                <div class="flex justify-start flex-wrap">
                  <img
                    class="rounded-full w-5 h-5 mt-1"
                    [src]="
                      user.avatarPersonal
                        ? user.avatarPersonal
                        : 'assets/images/default-avatar.jpg'
                    "
                    alt="image-product"
                  />
                  <span class="name text-secondary p-2">
                    {{ user.fullName }}
                  </span>
                </div>
              </td>
              <td class="">
                <span class="name text-secondary p-3 text-center">
                  {{ user.email }}
                </span>
              </td>
              <td class="">
                <span class="name text-secondary p-3 text-center">
                  {{ user.address || "[CHƯA CÓ]" }}
                </span>
              </td>
              <td class="">
                <span class="name text-secondary p-3 text-center">
                  {{ user.phoneNumber || "[CHƯA CÓ]" }}
                </span>
              </td>
              <td class="">
                <span class="name text-secondary p-3 text-center">
                  {{
                    user.gender !== null && user.gender !== undefined
                      ? user.gender
                        ? "Nam"
                        : "Nữ"
                      : "[CHƯA CÓ]"
                  }}
                </span>
              </td>
              <td class="">
                <span class="name text-secondary p-3 text-center">
                  {{
                    user.dateOfBirth
                      ? (user.dateOfBirth | date : "dd/MM/yyyy")
                      : "[CHƯA CÓ]"
                  }}
                </span>
              </td>
              <td class="">
                <span class="name text-secondary p-3 text-center">
                  {{ user.listRole.join(", ") || "Không" }}
                </span>
              </td>
              <td class="text-center">
                @if(user.isActive){
                <p class="active">Hoạt động</p>
                }@else{
                <p class="inactive">Không hoạt động</p>
                }
              </td>
              <td nzRight>
                <div class="flex flex-wrap justify-center p-3">
                  <a class="text-red-600">
                    <span
                      class="text-lg name"
                      nz-icon
                      nzType="stop"
                      nzTheme="outline"
                      (click)="showDeleteConfirm(user.id)"
                    ></span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>
<nz-dropdown-menu #searchName="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton1">
        <input
          type="text"
          nz-input
          placeholder="Tìm họ tên người dùng"
          [(ngModel)]="searchFullName"
        />
      </nz-input-group>
      <ng-template #suffixIconButton1>
        <button nz-button nzType="primary" nzSearch>
          <span nz-icon nzType="search" (click)="onSearch()"></span>
        </button>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #searchMail="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton2">
        <input
          type="email"
          nz-input
          placeholder="Tìm theo email"
          [(ngModel)]="searchEmail"
        />
      </nz-input-group>
      <ng-template #suffixIconButton2>
        <button nz-button nzType="primary" nzSearch>
          <span nz-icon nzType="search" (click)="onSearch()"></span>
        </button>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #searchAddr="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton3">
        <input
          type="text"
          nz-input
          placeholder="Tìm theo địa chỉ"
          [(ngModel)]="searchAddress"
        />
      </nz-input-group>
      <ng-template #suffixIconButton3>
        <button nz-button nzType="primary" nzSearch>
          <span nz-icon nzType="search" (click)="onSearch()"></span>
        </button>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #searchPhone="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton4">
        <input
          type="text"
          nz-input
          placeholder="Tìm theo sđt"
          [(ngModel)]="searchPhoneNumber"
        />
      </nz-input-group>
      <ng-template #suffixIconButton4>
        <button nz-button nzType="primary" nzSearch>
          <span nz-icon nzType="search" (click)="onSearch()"></span>
        </button>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #searchDOB="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton5">
        <input
          type="text"
          nz-input
          placeholder="Tìm theo ngày sinh"
          [(ngModel)]="searchDateOfBirth"
        />
      </nz-input-group>
      <ng-template #suffixIconButton5>
        <button nz-button nzType="primary" nzSearch>
          <span nz-icon nzType="search" (click)="onSearch()"></span>
        </button>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>
