<h3 class="font-semibold text-lg mb-2">Bảng tính giá</h3>
<div class="mb-2 border-b-2 border-[#ededed]">
  <h6 class="text-base font-medium leading-6">
    <span class="text-red-500">* &nbsp;</span>Giá cọc
  </h6>
  <table class="w-full m-3">
    <tbody>
      <tr>
        <td>
          <p>Máy giặt XQB30MJ102W</p>
        </td>
        <td>
          <p class="">đ400.000 x 3 (số lượng)</p>
        </td>
        <td class="text-end">
          <p class="font-semibold">đ12000000</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Quạt giấy</p>
        </td>
        <td class="">
          <p class="">đ400.000 x 3 (số lượng)</p>
        </td>
        <td class="text-end">
          <p class="font-semibold">đ12000000</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="mb-2 border-b-2 border-[#ededed]">
  <h6 class="text-base font-medium leading-6">
    <span class="text-red-500">* &nbsp;</span>Giá thuê
  </h6>
  <table class="w-full m-3">
    <tbody>
      <tr>
        <td>
          <p>Máy giặt XQB30MJ102W</p>
        </td>
        <td>
          <p class="">đ400.000</p>
        </td>
        <td class="text-end">
          <p class="font-semibold">đ12000000</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Quạt giấy</p>
        </td>
        <td class="">
          <p>đ400.000</p>
        </td>
        <td class="text-end">
          <p class="font-semibold">đ12000000</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="mb-2 border-b-2 border-[#ededed]">
  <h6 class="text-base font-medium leading-6">
    <span class="text-red-500">* &nbsp;</span>Mã giảm giá
  </h6>
  <table class="w-full m-3">
    <tbody>
      <tr>
        <td>
          <p>Máy giặt XQB30MJ102W</p>
        </td>
        <td>
          <p>Mã MI75W</p>
        </td>
        <td class="text-end text-red-500">
          <p class="font-semibold">-đ80000</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Máy giặt XQB30MJ102W</p>
        </td>
        <td>
          <p>Mã MI75W</p>
        </td>
        <td class="text-end text-red-500">
          <p class="font-semibold">-đ80000</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="flex justify-between items-center">
  <h6 class="font-semibold text-base">Thành tiền</h6>
  <p class="font-semibold">đ2000000</p>
</div>