.search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 2px solid gray;
    padding: 15px 38px 12px 8px;
    border-radius: 10px;
  }
  .search-form button {
    border: 0;
    padding: 0;
    margin-left: -35px;
    background: none;
    color: grey;
  }