.limited-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

::ng-deep .ant-table-pagination.ant-pagination ul {
  display: flex;
  width: 100%;
}

::ng-deep .ant-pagination-total-text {
  flex: 1;
}
