<form nz-form [formGroup]="formInfoRegisterLessor" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>́Tên shop cho thuê</nz-form-label>
    <nz-form-control [nzSpan]="24"  nzErrorTip="Hãy nhập tên đại diện thuê!">
      <input
        nz-input
        formControlName="shopName"
        placeholder="Nhập tên shop"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>Email</nz-form-label>
    <nz-form-control [nzSpan]="24" nzErrorTip="Hãy nhập email!">
      <input
        nz-input
        formControlName="email"
        placeholder="Nhập email"
        type="email"  
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired>Số điện thoại</nz-form-label>
    <nz-form-control [nzSpan]="24" [nzErrorTip]="phoneNumberErrorTpl">
      <input
        nz-input
        formControlName="phoneNumber"
        placeholder="Nhập số điện thoại"
      />
    </nz-form-control>
  </nz-form-item>
  <ng-template #phoneNumberErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
      Số điện thoại là bắt buộc.
    </ng-container>
    <ng-container *ngIf="control.hasError('pattern')">
      Số điện thoại phải là 10 hoặc 11 chữ số.
    </ng-container>
    
  </ng-template>
  
  <nz-form-item>
    <button nz-button class="w-full" type="submit" nzType="primary" [disabled]="!formInfoRegisterLessor.valid">
      <span>Tiếp tục</span>
    </button>
  </nz-form-item>
</form>
