<div
  class="bg-slate-100 rounded-lg shadow-md p-3 mx-auto hover:translate-y-[-2px] my-5"
  [routerLink]="['/common/shop', shop.id]"
>
  <!-- Shop Info -->
  <div class="flex items-center justify-between mb-2">
    <div class="flex items-center">
      <!-- Shop Logo -->
      <nz-avatar
        [nzSrc]="
          shop.avatarShop
            ? shop.avatarShop
            : '/assets/images/logo-shop-default.png'
        "
        nzShape="circle"
        class="w-16 h-16"
      ></nz-avatar>
      <!-- Shop Details -->
      <div class="ml-4">
        <h3 class="text-lg font-bold text-gray-800">{{ shop.shopName }}</h3>
        <p class="text-sm text-gray-500">{{ shop.address }}</p>
      </div>
    </div>
    <div class="flex justify-between text-primary">
      <!-- Products -->
      <div class="text-center mx-2">
        <i nz-icon nzType="shop" nzTheme="twotone" class="text-lg mb-1"></i>
        <span class="block text-sm font-bold text-[#0C92FF]">{{
          shop.numberOfProduct
        }}</span>
        <p class="text-sm text-gray-500">Sản Phẩm</p>
      </div>
      <!-- Ratings -->
      <div class="text-center mx-2">
        <i nz-icon nzType="star" nzTheme="twotone" class="text-lg mb-1"></i>
        <span class="block text-sm font-bold text-[#0C92FF]">{{
          shop.avegateVote | number : "1.1-1" : "en-US"
        }}</span>
        <p class="text-sm text-gray-500">Đánh Giá</p>
      </div>
      <!-- Response Rate -->
      <div class="text-center mx-2">
        <i nz-icon nzType="message" nzTheme="twotone" class="text-lg mb-1"></i>
        <span class="block text-sm font-bold text-[#0C92FF]">95%</span>
        <p class="text-sm text-gray-500">Tỉ Lệ Phản Hồi</p>
      </div>
      <!-- Response Time -->
      <div class="text-center mx-2">
        <i
          nz-icon
          nzType="clock-circle"
          nzTheme="twotone"
          class="text-lg mb-1"
        ></i>
        <span class="block text-sm font-bold text-[#0C92FF]"
          >trong vài giờ</span
        >
        <p class="text-sm text-gray-500">Thời Gian Phản Hồi</p>
      </div>
    </div>
  </div>
</div>
