.card-layout{
    margin-top: 85px;
}
  
.sticky-order-card {
    position: sticky;
    top: 30px;
    align-self: flex-start;
    max-width: 350px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
  }