<ng-container *ngIf="orderDetail$ | async as orderDetails">
  <div class="p-5 my-3 bg-white rounded-md">
    <h3 class="text-xl text-[#111]">
      Đơn thuê <strong># {{ orderDetails.code }}</strong>
    </h3>
  </div>
  <div class="flex items-start gap-x-3">
    <section class="p-5 bg-white rounded-md min-w-[25%]" style="min-height: calc(100vh - 80px)">
      <h4 class="pb-3 text-lg font-medium">Thông tin đơn hàng</h4>
      <table class="w-full">
        <tbody>
          <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">Người thuê</td>
            <td class="font-medium py-[4px]">
              {{ orderDetails.user.userName }}
            </td>
          </tr>
          <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">
              Số điện thoại
            </td>
            <td class="font-medium py-[4px]">
              {{ orderDetails.recipientPhoneNumber }}
            </td>
          </tr>
          <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">Email</td>
            <td class="font-medium py-[4px]">
              {{ orderDetails.recipientEmail }}
            </td>
          </tr>
          <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">Ngày tạo</td>
            <td class="font-medium py-[4px]">
              {{ orderDetails.startDate | date : "short" }}
            </td>
          </tr>
          <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">Thuê</td>
            <td class="font-medium py-[4px]">
              {{
              convertRentalDay(orderDetails.startDate, orderDetails.endDate)
              }}
            </td>
          </tr>
          <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">Mã đơn hàng</td>
            <td class="font-medium py-[4px]">{{ orderDetails.code }}</td>
          </tr>
          <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">
              Số lượng sản phẩm thuê
            </td>
            <td class="font-medium py-[4px]">
              {{ totalQuantity$ | async }}
            </td>
          </tr>
          <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">Tiền cọc</td>
            <td class="font-medium py-[4px]">
              - {{ orderDetails.totalDepositPrice |currency:'VND':'VND':'1.0-0':'vi' }}
            </td>
          </tr>
          <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">Thành tiền</td>
            <td class="font-medium py-[4px]">
              <!-- giá voucher fix -->
              {{ +orderDetails.totalRentPrice + +orderDetails.totalDepositPrice |currency:'VND':'VND':'1.0-0':'vi' }}
            </td>
          </tr>
          <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">Tổng tiền</td>
            <td class="font-medium py-[4px]">
              {{ +orderDetails.totalRentPrice + +orderDetails.totalDepositPrice |currency:'VND':'VND':'1.0-0':'vi' }}
            </td>
          </tr>
          <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">
              Trạng thái đơn hàng
            </td>
            <td class="font-medium py-[4px]">
              <app-status-label [label]="convertStatus(getOrderStatusLatest(orderDetails))"
                [statusType]="getOrderStatusLatest(orderDetails)" />
            </td>
            
          </tr>
        </tbody>
      </table>
      <section class="flex flex-col gap-2 pt-3">
        @if(avaiableAprroveRequestOrder.includes(getOrderStatusLatest(orderDetails))){
          <button nz-button class="w-full" nzType="primary" (click)="popUpChangeStatus(modalTitle)">
            {{convertTextButton(getOrderStatusLatest(orderDetails))}}
          </button>
        }
        @if(availableCancelRequestOrder.includes(getOrderStatusLatest(orderDetails))){
          <button nz-button class="w-full" nzType="default" (click)="popUpCancelOrderStatus()">
            Hủy yêu cầu
          </button>
        }
      </section>
    </section>
    <section class="flex-1 p-5 bg-white rounded-md">
      <h4 class="pb-3 text-lg font-medium">Chi tiết sản phẩm thuê</h4>
      <nz-table #basicTable [nzBordered]="true" [nzData]="orderDetails.orderDetails"  [nzSize]="'middle'">
        <thead>
          <tr>
            <th nzWidth="5%">
              <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="onAllChecked($event)"></label>
            </th>
            <th nzWidth="20%">Sản phẩm</th>
            <th nzWidth="50%">Thông tin thuê</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of orderDetails.orderDetails; let i = index">
            <td>
              <label nz-checkbox ngModel (ngModelChange)="onItemChecked()"></label>
            </td>
            <td>
              <div class="gap-3 flex items-center">
                <img [src]="data.product.productImages[0].link" alt="product-image + {{ i }}.png"
                  class="w-[270px] h-[190px] object-cover rounded-sm" />
              </div>
            </td>
            <td>
          <tr class="flex justify-start gap-x-5">
            <td class="text-[14px] font-normal py-[4px] w-[40%]">
              Tên sản phẩm
            </td>
            <td class="font-medium py-[4px]">
              {{ data.product.productName }}
            </td>
          </tr>
          <tr class="flex justify-start gap-x-5">
            <td class="text-[14px] font-normal py-[4px] w-[40%]">
              Số lượng:
            </td>
            <td class="font-medium py-[4px]">
              {{ data.quantity }}
            </td>
          </tr>
          <tr class="flex justify-start gap-x-5">
            <td class="text-[14px] font-normal py-[4px] w-[40%]">
              Tiền cọc:
            </td>
            <td class="font-medium py-[4px]">
              {{ data.product.depositPrice |currency:'VND':'VND':'1.0-0':'vi' }}
            </td>
          </tr>
          </td>
          </tr>
        </tbody>
      </nz-table>
    </section>
  </div>
</ng-container>

<ng-template #modalTitle>
  <h3 class="font-medium">Xét duyệt yêu cầu đơn thuê</h3>
</ng-template>