<section class="p-10">
  <div class="text-center flex items-center flex-col justify-center gap-y-4">
    <div
      class="bg-[#f7fafe] rounded-full px-3 py-3 border-2 border-solid border-[#1FA2FF]"
    >
      <span
        nz-icon
        nzType="key"
        nzTheme="outline"
        class="text-[#1FA2FF] text-[25px]"
      ></span>
    </div>
    <p class="text-[15px] text-[#111] whitespace-normal text-wrap">
      Mã xác nhận đã được gửi tới email
      <strong>'{{ emailGenerate }}'</strong>
    </p>
    <p class="text-[15px] text-[#938D8A] whitespace-normal text-wrap">
      Làm ơn hãy kiểm tra hộp thư đến và nhập mã xác thức bên dưới. Mã xác thực
      có thời hạn trong <strong>30:00</strong>
    </p>
  </div>
  <code-input
    #codeInput
    [codeLength]="4"
    (codeChanged)="onCodeChanged($event)"
    (codeCompleted)="onCodeCompleted($event)"
    class="my-3"
  >
  </code-input>
  <div class="flex items-center justify-between">
    <button nz-button class="font-medium" nzType="link" (click)="reSendCode()">Gửi mã lại</button>
    <button nz-button class="font-medium" nzType="link" (click)="changeEmail()">Thay đổi email</button>
  </div>
</section>
