<h3 class="text-xl mb-3">Tạo Danh Mục Chính</h3>
<form
  nz-form
  [nzLayout]="'inline'"
  [formGroup]="formCategory"
  (ngSubmit)="onSubmit()"
>
  <nz-form-item>
    <nz-form-label nzFor="categoryName">Danh Mục Chính</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập tên danh mục chính!">
      <input
        nz-input
        formControlName="categoryName"
        id="categoryName"
        placeholder="Nhập tên danh mục chính"
        class="w-96"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!formCategory.valid">
        Tạo Mới
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
