::ng-deep .ant-tabs-nav-list{
    background-color: #418cfb;
    width: 100%;
}
::ng-deep .ant-tabs-tab + .ant-tabs-tab{
    margin: 0 0 0 18px;
}
::ng-deep .ant-tabs-tab {
    padding: 10px 15px;
    margin: 0;
}
::ng-deep .ant-tabs-tab-active{
    padding: 10px 15px;
    background: #2563EB;
}
::ng-deep .ant-tabs-tab-btn{
    color: white !important;
}

::ng-deep .ant-select-selector {
    height: 42px !important;
    display: flex;
    align-items: center;
}
.w-input{
    width: 35rem;
}
