<div
  class="flex items-end gap-4 max-w-[1500px] mx-auto p-10 bg-[#eef7ff] rounded-2xl"
>
  <div class="w-[50%] flex flex-col gap-y-5">
    <div class="text-center px-20">
        <img src="assets/images/lessor-want-more.png" alt="" class="h-[170px] object-cover mx-auto">
      <h4 class="font-bold text-4xl mb-8 leading-10 tracking-wider">
        Bạn muốn cho thuê <br />
        sản phẩm của mình?
      </h4>
      <p class="font-light mb-10 text-lg">
        Tham gia cùng hàng ngàn nhà cho thuê đang kiếm thêm thu nhập từ nền tảng
        của chúng tôi! Đăng ký ngay hôm nay để trở thành đối tác và gia tăng thu
        nhập hàng tháng một cách dễ dàng
      </p>
      <button
        class="h-[60px] min-w-[10rem] rounded-sm border border-solid border-[#000] bg-[#eef7ff] hover:bg-[#0f6cf8] hover:text-[#fff] hover:border-none"
        nzType="default"
        nz-button
      >
        <span class="text-lg"> <strong>Tìm hiểu ngay</strong></span>
      </button>
    </div>
  </div>
  <div class="w-[50%]">
    <img
      src="assets/images/142814ae-b725-448c-ac5e-15ddffd00b9d.png"
      alt=""
      class="w-full h-[469px] object-cover rounded-2xl"
    />
  </div>
</div>
