 ::ng-deep .ant-divider-horizontal {
  margin: 0 !important;
}

 ::ng-deep .mat-mdc-menu-panel {
  max-width: 400px !important;
  min-width: 400px !important;
  min-height: 220px !important;
  border-radius: 3px !important;
  padding: 2px 8px !important;
}