<div class="container_auth_form p-5 rounded-md w-72 sm:w-[425px] lg:w-[500px]">
  <div class="pt-5 mb-2">
    <div
    class="font-bold text-4xl mb-2 text-start text-gray-500 mt-6 uppercase"
  >
  Thay đổi mật khẩu
  </div>
  </div>
  <form
    nz-form
    [formGroup]="changePswForm"
    (ngSubmit)="submitForm()"
    class="forgotpsw-form"
  >
    <nz-form-item>
      <nz-form-label
        [nzSm]="24"
        [nzXs]="24"
        nzRequired
        nzFor="currentPsw"
        class="text-start"
        >Mật khẩu hiện tại</nz-form-label
      >
      <nz-form-control
        [nzSm]="24"
        [nzXs]="24"
        nzErrorTip="Mật khẩu hiện tại là bắt buộc"
      >
        <nz-input-group class="" [nzSuffix]="suffixcurrentPsw">
          <input
            class="input-wrapper"
            [type]="curPswVisible ? 'text' : 'password'"
            nz-input
            formControlName="currentPsw"
            id="currentPsw"
            placeholder="**********"
          />
        </nz-input-group>
        <ng-template #suffixcurrentPsw>
          <span
            nz-icon
            [nzType]="curPswVisible ? 'eye-invisible' : 'eye'"
            (click)="curPswVisible = !curPswVisible"
          ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="24"
        [nzXs]="24"
        nzRequired
        nzFor="newPsw"
        class="text-start"
        >Mật khẩu mới</nz-form-label
      >
      <nz-form-control
        [nzSm]="24"
        [nzXs]="24"
        nzErrorTip="Mật khẩu mới là bắt buộc"
      >
        <nz-input-group class="" [nzSuffix]="suffixnewPsw">
          <input
            class="input-wrapper"
            [type]="newPswVisible ? 'text' : 'password'"
            nz-input
            formControlName="newPsw"
            placeholder="**********"
            id="newPsw"
          />
        </nz-input-group>
        <ng-template #suffixnewPsw>
          <span
            nz-icon
            [nzType]="newPswVisible ? 'eye-invisible' : 'eye'"
            (click)="newPswVisible = !newPswVisible"
          ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="24"
        [nzXs]="24"
        nzRequired
        nzFor="confirmPsw"
        class="text-start"
        >Xác nhận mật khẩu</nz-form-label
      >
      <nz-form-control
        [nzSm]="24"
        [nzXs]="24"
        [nzErrorTip]="
          confirmPsw?.hasError('matching')
            ? 'Mật khẩu xác nhận không trùng khớp mặt khẩu mới'
            : ''
        "
      >
        <nz-input-group class="" [nzSuffix]="suffixconfirmPsw">
          <input
            class="input-wrapper"
            [type]="confirmVisible ? 'text' : 'password'"
            nz-input
            formControlName="confirmPsw"
            id="currentPsw"
            placeholder="**********"
          />
        </nz-input-group>
        <ng-template #suffixconfirmPsw>
          <span
            nz-icon
            [nzType]="confirmVisible ? 'eye-invisible' : 'eye'"
            (click)="confirmVisible = !confirmVisible"
          ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <button nz-button type="submit" class="w-full" [nzType]="'primary'">
      Lưu
    </button>
  </form>
</div>
