<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  [nzMaskClosable]="true"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzWidth]="'700px'"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="formConfirm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="message">
          Lời Nhắn (Nếu Có)
        </nz-form-label>
        <nz-form-control>
          <textarea
            nz-input
            class="w-full"
            formControlName="message"
            [placeholder]="placeholder"
            [nzAutosize]="{ minRows: 6, maxRows: 12 }"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div class="flex justify-between gap-5">
            <button class="w-full" nz-button type="submit" nzType="primary">
              Xác Nhận
            </button>
            <button
              class="w-full"
              nz-button
              type="button"
              nzType="default"
              nzDanger
              (click)="handleCancel()"
            >
              Hủy
            </button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
