<div
  class="py-[300px] bg-[url('assets/images/header-home.png')] bg-cover bg-center relative"
>
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center gap-y-5"
  >
    <div
      class="border border-solid border-[#EBEBEB] rounded-full flex items-center w-fit gap-x-3 py-2 px-4"
    >
      <p class="text-[#0f6cf8] font-semibold">30.000+ người tin dùng</p>
      <nz-avatar-group>
        <nz-avatar
          nzIcon="user"
          nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
        ></nz-avatar>
        <nz-avatar style="background-color: #f56a00" nzText="U"></nz-avatar>
        <nz-avatar
          style="background-color: #87d068"
          nz-tooltip
          nzTooltipTitle="NG-ZORRO User"
          nzIcon="user"
        ></nz-avatar>
        <nz-avatar style="background-color: #1890ff" nzText="NG"></nz-avatar>
      </nz-avatar-group>
    </div>
    <div class="flex flex-col items-center gap-y-5">
      <h1 class="font-bold text-6xl text-center tracking-wide">
        Khám Phá Nơi Cho Thuê Lý Tưởng Của Bạn
      </h1>
      <p class="pt-5 text-lg font-medium">
        {{ typedText$ | async }}
      </p>
      <button
        nz-button
        nzType="primary"
        class="h-[60px] w-[280px] shadow-sm rounded-full hover:shadow-xl transform hover:scale-105 transition duration-300"
        style="
          background: linear-gradient(
            123.35152783379965deg,
            #0f6cf8 0%,
            #00bfff 100%
          );
        "
      >
        <span class="text-xl"
          ><strong
            >Khám phá ngay {{ "   " }}
            <span nz-icon nzType="arrow-right" nzTheme="outline"></span></strong
        ></span>
      </button>
    </div>
  </div>
</div>
<div class="my-10">
  <app-we-bring />
</div>
<div class="my-10">
  <app-top-bring-category />
</div>
<div class="my-10">
  <app-brief-procedure-rental />
</div>
<div class="my-10">
  <app-banner-you-are-lessor />
</div>
<div class="my-10">
  <app-feedback-about-we />
</div>
<div class="my-10">
  <app-feature-posts />
</div>
