<nz-layout class="inner-layout min-h-screen">
  <nz-sider nzWidth="250px" nzTheme="light">
    <div class="flex justify-start p-1 pt-5">
      <nz-avatar
        [nzSize]="60"
        [nzSrc]="
          avatarPersonal ? avatarPersonal : 'assets/images/default-avatar.jpg'
        "
      ></nz-avatar>
      <div class="mx-3">
        <!-- <p class="font-bold text-lg">Nguyễn Văn A</p> -->
        <p class="font-medium text-lg px-3">{{ userName }}</p>
        <a nz-button nzType="link" nzBlock
          ><span
            class="text-lg pb-1"
            nz-icon
            nzType="edit"
            nzTheme="outline"
          ></span
          >Sửa Hồ Sơ</a
        >
      </div>
    </div>
    <ul nz-menu nzMode="inline" class="sider-menu">
      <li
        nz-submenu
        [nzOpen]="isAccountOpen"
        nzTitle="Tài Khoản Của Tôi"
        nzIcon="user"
      >
        <ul>
          <li
            nz-menu-item
            [routerLink]="['./account/profile']"
            routerLinkActive="ant-menu-item-selected"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Hồ Sơ
          </li>
          <li
            nz-menu-item
            [routerLink]="['/auth/change-password']"
            routerLinkActive="ant-menu-item-selected"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Thay đổi mật khẩu
          </li>
        </ul>
      </li>
      <li
        [nzOpen]="isPaymentOpen"
        nz-submenu
        nzTitle="Tiền Của Tôi"
        nzIcon="wallet"
      >
        <ul>
          <li
            nz-menu-item
            [routerLink]="['./payment/my-wallet']"
            routerLinkActive="ant-menu-item-selected"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Ví Tiền
          </li>
        </ul>
      </li>
      <li
        nz-menu-item
        [routerLink]="['./my-voucher']"
        routerLinkActive="ant-menu-item-selected"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <span nz-icon nzType="gift" nzTheme="outline"></span>
        <span>Kho Voucher</span>
      </li>
      <li
        nz-menu-item
        *ngIf="userRole !== USERROLE.ADMIN"
        [routerLink]="['./order']"
        routerLinkActive="ant-menu-item-selected"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        <span nz-icon nzType="solution" nzTheme="outline"></span>
        <span>Danh Sách Thuê Của Tôi</span>
      </li>
    </ul>
  </nz-sider>
  <nz-content class="inner-content bg-white">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
