<div class="border relative rounded-lg p-4 bg-white shadow-md mt-3">
  <div class="flex">
    <div class="w-1/4 relative">
      <img
        [src]="shopInfo?.banner || 'assets/images/logo-shop-default.png'"
        alt="banner_shop.png"
        class="rounded-lg w-full h-full"
      />
      <div class="absolute inset-0 flex items-center justify-center">
        <div
          class="text-white bg-black bg-opacity-50 w-full h-full flex items-center justify-center rounded-lg p-4"
        >
          <img
            [src]="shopInfo?.avatarShop || 'assets/images/6306486.jpg'"
            alt="avatarShop.png"
            class="rounded-full w-[54px] h-[54px] mr-4 object-cover"
          />
          <div class="flex flex-col items-start">
            <h2 class="text-xl font-semibold text-white">
              {{ shopInfo?.shopName }}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="w-3/4 pl-4">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <p class="flex items-center m-5">
            <span
              class="text-xl"
              nz-icon
              nzType="shop"
              nzTheme="outline"
            ></span>
            <span class="text-lg mx-2"> Thiết Bị: </span>
            <span class="text-blue-500 ml-1 text-lg">{{ totalProduct }}</span>
          </p>
        </div>
        <div>
          <p class="flex items-center mx-5 mt-5">
            <span
              class="text-xl"
              nz-icon
              nzType="star"
              nzTheme="outline"
            ></span>
            <span class="text-lg mx-2"> Đánh Giá: </span>
            <span class="text-blue-500 ml-1 text-lg"
              >{{ shopInfo?.avegateVote | number : "1.1-1" : "en-US" }} ({{
                shopInfo?.numberOfVote
              }}
              đánh giá)</span
            >
          </p>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-4">
        <div>
          <p class="flex items-center mx-5">
            <span
              class="text-xl"
              nz-icon
              nzType="usergroup-add"
              nzTheme="outline"
            ></span>
            <span class="text-lg mx-2"> Người Đang Thuê: </span>
            <span class="text-blue-500 ml-1 text-lg">{{
              shopInfo?.numberOfRenter ?? 0
            }}</span>
          </p>
        </div>
        <div>
          <p class="flex items-center"></p>
          <p class="flex items-center mx-5">
            <span
              class="text-xl"
              nz-icon
              nzType="team"
              nzTheme="outline"
            ></span>
            <span class="text-lg mx-2"> Tham Gia: </span>
            <span class="text-blue-500 ml-1 text-lg">{{
              calculateTime(shopInfo?.createDate)
            }}</span>
          </p>
        </div>
        <div class="col-span-2 p-5">
          <div class="flex items-center justify-between">
            <button
              nz-button
              [nzType]="'primary'"
              class="pulse relative min-h-[25px]"
              (click)="rentalMoreProduct(true)"
            >
              Thuê nhiều thiết bị tại đây
            </button>
            <button
              nz-button
              *ngIf="isOpen"
              class="pulse relative min-h-[25px] bg-red-500 text-white"
              (click)="rentalMoreProduct(false)"
            >
              Thu gọn
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
