// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-primary: mat.define-palette(mat.$indigo-palette);
$web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-theme: mat.define-light-theme(
  (
    color: (
      primary: $web-primary,
      accent: $web-accent,
      warn: $web-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($web-theme);

@import "app/styles/base/index";
@import "app/styles/vendors/index";
@import "app/styles/themes/light-theme";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .icon_text {
    @apply text-base flex items-center gap-3;
  }
}

//custom ng-zoro theme light mode | dark mode
body {
  &.ant-dark {
    @import "app/styles/themes/dark-theme";
  }
}

.custom-snackbar {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 8px !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
  }
}

.success-snackbar {
  .mdc-snackbar__surface {
    background-color: #e6f7ec !important;
    border-left: 4px solid #00b141;
    padding: 0 10px;
  }

  .mdc-snackbar__label {
    color: #00b141 !important;
  }
}
.error-snackbar {
  .mdc-snackbar__surface {
    background-color: #fde7eb !important;
    border-left: 4px solid #e60a32;
    padding: 0 10px;
  }

  .mdc-snackbar__label {
    color: #e60a32 !important;
  }
}
.info-snackbar {
  .mdc-snackbar__surface {
    background-color: #cce4f8 !important;
    border-left: 4px solid #1588e7;
  }

  .mdc-snackbar__label {
    color: #1588e7 !important;
  }
}

//icon ng-zoro
.anticon svg {
  display: block;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


//selection
/* Đặt màu khi bôi đen */
::selection {
  background-color: #cce4ff; /* Màu nền xanh nhạt */
  color: black; /* Màu chữ đen */
}

/* Hỗ trợ trên trình duyệt webkit (Chrome, Safari, Edge) */
::-moz-selection {
  background-color: #cce4ff; /* Màu nền xanh nhạt */
  color: black; /* Màu chữ đen */
}